---
---

/* ===========================================
   Import Partial Stylesheets
   =========================================== */
/* prettier-ignore */
/* Main 样式 */
@use 'main
{%- if jekyll.environment == 'production' -%}
  .bundle
{%- endif -%}
';

/* Post 补充样式 */
@use "./post";

/* Lists 样式 */
@use "./lists";

/* Resume 样式 */
@use "./resume";

/* Sidebar 补充样式 */
@use "./sidebar";

/* Showcase 样式 以及 分页样式 */
@use "./showcase";


/* ===========================================
        Global Settings
   =========================================== */
/* 开启浏览器内置的页面切换动画 让进入/离开页面更顺滑 */
@view-transition { navigation: auto; }

/* CSS 变量：Bootstrap 颜色变量 */
:root {
  --bs-white: #fff;
  --bs-black: #000;

  /* 主题色（按需选） */
  --bs-primary:  #0d6efd;
  --bs-secondary:#6c757d;
  --bs-success:  #198754;
  --bs-info:     #0dcaf0;
  --bs-warning:  #ffc107;
  --bs-danger:   #dc3545;
  --bs-light:    #f8f9fa;
  --bs-dark:     #212529;

  /* 若需要更细的灰阶（可选） */
  --bs-gray-100:#f8f9fa; --bs-gray-200:#e9ecef; --bs-gray-300:#dee2e6;
  --bs-gray-400:#ced4da; --bs-gray-500:#adb5bd; --bs-gray-600:#6c757d;
  --bs-gray-700:#495057; --bs-gray-800:#343a40; --bs-gray-900:#212529;
}
